body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #cccccc;
    transition: 0.3s background-colorz ease-in-out;
}

.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.63);
    margin: 0 auto;
    margin-top: 40px;
    height: 600px;
    width: 500px;
    /* opcional */
    border-radius: 10px;
    overflow: hidden;
}

.card-header {
    width: 100%;
    height: 300px;
    background-image: url("/P1/Tema\ 7\ Parallax/img/angular-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;

    transition: 0.3s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header button {
    display: none;
    transform: scaleX(-2) scaleY(2);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}


.card-header button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}


body:has(.card-header:hover) {
    background-color: black;
}

.card-header:hover {
    background-size: 800px;
    filter: brightness(0.6);
    transform: scaleX(-1);
}

.card-header:hover button {
    display: block;
}

.card-content {
    height: 300px;
    background-color: white;
    padding: 40px;
}

h4 {
    font-weight: normal;
    color: rgb(90, 90, 90);
    margin-bottom: 20px;
}

.rojo {
    padding: 3px; 
    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
}

.azul {
    padding: 3px; 
    border: 1px solid blue;
    background-color: blue;
    border-radius: 5px;
}

.blanco {
    padding: 3px; 
    border: 1px solid rgb(177, 177, 177);
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
}

.verde {
    padding: 3px; 
    border: 1px solid green;
    background-color: green;
    border-radius: 5px;
}


